bin
obj
*.sln.DotSettings.user
.vs
vendor
.idea
*.iml
**/*.received.*
venv
**/DS_Store/*
**/.DS_Store/*
/out/production/gildedRose/com/gildedrose/GildedRose.class
/out/production/gildedRose/com/gildedrose/Item.class
/out/test/gildedRose/com/gildedrose/GildedRoseTest.class
/out/test/gildedRose/com/gildedrose/TexttestFixture.class
